*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.signup-form{
    width: 80%;
    margin: 5px;
}