.exams-available{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.lists{
    width: 100%;
    padding: 10px;
}
.test-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    box-shadow: 0 1.5px 1px grey;
}